<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>功能列表</title>
</head>
<body>
<table>
    <tbody>
    <tr>
        <td><a href="/personal-account-book/export-bookkeeping">导入记账</a></td>
    </tr>
    <tr>
        <td><a href="/chart/account-flow-change-chart">查询账户流水变化图表</a></td>
    </tr>
    <tr>
        <td><a href="/chart/account-balance-chart">查询账户余额图表</a></td>
    </tr>
    <tr>
        <td><a href="/chart/query-account-dc-amount">查询账户借贷金额</a></td>
    </tr>
    <tr>
        <td><a href="/blood-relationship/export-bookkeeping">导入血缘关系</a></td>
    </tr>
    <tr>
        <td><a href="/chart/query-blood-relationship-data">查询血缘关系</a></td>
    </tr>
    <tr>
        <td><a href="/chart/blood_relationship_graph">查询血缘关系-关系图</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>